<h1>prods in cart: {{cid}}</h1>
<div class="container">
    <div class="row p-5">
        {{#each productos}}
            <div class="col-md-4">
                <div class="p-4">    
                    <div class="card">  
                        <img class="card-image-top" src="../images/defaultimg.png"?>
                        <div class="card-body"> 
                            <h5 class="card-title">{{this.product.title}}</h1>
                            <h6 class="card-subtitle"><strong>id:</strong> {{this.product._id}}</h6>
                            <h6 class="card-subtitle text-muted"><strong>code:</strong> {{this.product.code}}</h6>
                            <h6 class="card-subtitle text-muted"><strong>category:</strong> {{this.product.category}}</h6>
                            <h6 class="card-subtitle text-muted"><strong>thumb:</strong> {{this.product.thumbnail}}</h6>
                            <h6 class="card-subtitle text-muted"><strong>status:</strong> {{this.product.status}}</h6>
                            <h6 class="card-subtitle text-muted"><strong>quantity:</strong> {{this.quantity}}</h6>
                            <h6 class="card-subtitle text-muted"><strong>price(unit):</strong> {{this.product.price}}</h6>
                            <p class="card-text">description: {{this.product.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>